<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
<%- include('./partials/nav') %>
    <div class="about content">
        <h2> About us</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci tenetur est quasi ipsa inventore sed ratione at animi, voluptates mollitia nihil, non dolorum, quae velit? Voluptatum suscipit laboriosam esse pariatur.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci tenetur est quasi ipsa inventore sed ratione at animi, voluptates mollitia nihil, non dolorum, quae velit? Voluptatum suscipit laboriosam esse pariatur.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci tenetur est quasi ipsa inventore sed ratione at animi, voluptates mollitia nihil, non dolorum, quae velit? Voluptatum suscipit laboriosam esse pariatur.</p>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>